@font-face {
 font-family: 'brandon_blk';
 src: url('../fonts/brandon/brandon_blk-webfont.eot');
 src: url('../fonts/brandon/brandon_blk-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/brandon/brandon_blk-webfont.woff') format("woff"), url('../fonts/brandon/brandon_blk-webfont.ttf') format("truetype"), url('../fonts/brandon/brandon_blk-webfont.svg#brandon_blk') format("svg");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'brandon_rg';
 src: url('../fonts/brandon/brandon_reg-webfont.eot');
 src: url('../fonts/brandon/brandon_reg-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/brandon/brandon_reg-webfont.woff') format("woff"), url('../fonts/brandon/brandon_reg-webfont.ttf') format("truetype"), url('../fonts/brandon/brandon_reg-webfont.svg#brandon_rg') format("svg");
 font-weight: normal;
 font-style: normal;
}
