@include font-face("lkIcons", "stag", "../fonts/icons/stag/", reg, 400);

// Map icon names to font unicode characters
$icons: (
    browser: "\e000",
    lamp:"\e001",
    podcast:"\e002",
    rocket: "\e003",
    user: "\e004",
    settings: "\e005",
    aside: "\e006",
    audio: "\e007",
    chat: "\e008",
    vimeo: "\e009",
    twitter:"\e00a",
    rss:"\e00b",
    pinterest: "\e00c",
    linkedin: "\e00d",
    google-plus: "\e00e",
    forrst: "\e00f",
    facebook: "\e010",
    email: "\e011",
    dribbble: "\e012",
    status: "\e013",
    video: "\e014",
    standard: "\e015",
    quote: "\e016",
    link: "\e017",
    image: "\e018",
    gallery: "\e019",
    volume: "\e01a",
    play: "\e01b",
    pause: "\e01c",
    quote-icon: "\e01d",
    link-icon: "\e01e",
    arrow-right: "\e01f",
    arrow-left: "\e020",
    navicon: "\e021",
    eye: "\e022",
    eye-open: "\e022",
    minus: "\e023",
    plus: "\e024",
    post-link:"\e025",
    close:"\e026",
    behance:"\e027",
    deviantart:"\e028",
    flickr: "\e029",
    instagram:"\e02a",
    myspace: "\e02b",
    soundcloud: "\e02c",
    youtube: "\e02d",
    github:"\e02e",
    git: "\e02f",
    spotify: "\e030"
);

//

[class^="icon-"],
[class*=" icon-"],
[data-icon]{
    @include icon;
}

// Setup a class name for each icon
@each $name, $char in $icons {
    .icon-#{$name} {
        &:before {
            content: $char;
        }
    }
}


@font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format("embedded-opentype"),
      url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format("woff"),
      url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format("truetype"),
      url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format("svg");
  font-weight: normal;
  font-style: normal;
}


.icon-0:before {
  content: ":";
}
.icon-1:before {
  content: "p";
}
.icon-2:before,
.icon-4:before {
  content: "S";
}
.icon-3:before {
  content: "Q";
}
.icon-5:before,
.icon-6:before,
.icon-7:before,
.icon-8:before,
.icon-10:before,
.icon-15:before,
.icon-17:before,
.icon-35:before,
.icon-43:before,
.icon-41:before {
  content: "W";
}

.icon-9:before,
.icon-11:before,
.icon-12:before,
.icon-13:before,
.icon-14:before,
.icon-16:before {
  content: "I";
}

.icon-18:before {
  content: "U";
}
.icon-19:before,
.icon-20:before,
.icon-21:before,
.icon-22:before,
.icon-23:before {
  content: "Z";
}
.icon-24:before,
.icon-25:before {
  content: "E";
}
.icon-26:before {
  content: "3";
}
.icon-27:before,
.icon-29:before,
.icon-44:before {
  content: "a";
}


.icon-28:before,
.icon-30:before {
  content: "A";
}

.icon-32:before,
.icon-34:before,
.icon-36:before {
  content: "1";
}

.icon-31:before,
.icon-33:before {
  content: "6";
}


.icon-37:before,
.icon-38:before,
.icon-39:before,
.icon-47:before,
.icon-45:before {
  content: "S";
}
.icon-40:before {
  content: "M";
}

.icon-42:before {
  content: "I";
}
.icon-46:before {
  content: "U";
}
