<div class="infobox-wrapper">
                                    <div id="infobox">
                                        <div class="location london_office" data-location="london_office">
                                            <div id="weather"></div>
                                            <p class="address"><i class="icon-building"></i>60th floor<br />
                                            20-62 Southbury Road <br />London <br />EN1 1YB</p>
                                            <p class="phone"><i class="icon-phone"></i>Phone: 07500665517</p>
                                            <p class="email"><i class="icon-mail"></i>Email: info@landrik.com</p>

                                        </div>    
                                    </div>
                                </div>