<section id="intro" class="section stars-active">
    <div class="container">
        <div class="section-content">
        <div class="row">
            <div class="col-md">
                <a href="#" class="avatar"></a>
                <h1>Landry Karege</h1>
                <h2 class="intro">I'm a <em class="change-text"><span class="active">UX/UI Designer</span><span>front-end developer</span><span>free thinker</span></em></h2>
            </div>
        </div>
        </div>    
    </div>
    <div id="overlay"></div>
</section>