<section id="profile" class="section">
    <div class="container">
        <div class="section-content">
            <h2 class="section-title">About Me</h2>
            <div class="row">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1">about me</a></li>
                <li class=""><a href="#tab2">skills</a></li>
                <li class=""><a href="#tab3">testimonial</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab-pane fade col-md-6 blurb">
                    {{ site.data.settings.blurb | markdownify }}
                </div>
                <div id="tab2" class="tab-pane fade col-md-6">
                    <div id="skillbar">
                        {% for skill in site.data.settings.skills %}
                        <div class="skill">
                                <span class="chart" data-percent="{{ skill.value}}">
                                    <span class="percent"></span>
                                </span>
                                <h4>{{ skill.name }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="tab3" class="tab-pane fade col-md">
                    <div id="quotes_testimonials">
                        <ul id="quote-slider" class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="10000" data-cycle-slides=">li" data-cycle-prev="#prev" data-cycle-next="#next">
                            {% for testimonial in site.data.settings.testimonials %}
                            <li class="quote">
                                <blockquote>
                                    {{ testimonial.quote }}<cite>{{ testimonial.name }}</cite>
                                </blockquote>
                            </li>
                            {% endfor %}
                        </ul>
                   </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
