<section class="outer-container" id="services">
    <div class="content">
        <h2>Key Services</h2>

        <div class="row">
            <div class="column">
                <h3>Digital Strategy</h3>

                <p>We map out your business goals and needs to determine how to meet them, and if they match those of the people you want to interact with, whether that's a product, service, or something completely new like <abbr title="Internet of Things">IoT</abbr>. We use agile techniques to keep things moving quickly and to get answers faster. Digital strategy isn't illustrated roadmaps and product backlogs. It's creating a clear vision, a shared understanding, and processes that ensure a great <strong>user experience</strong> for all.</p>
            </div>

            <div class="column">
                <h3>User Experience</h3>

                <p>Designing digital products can be hard. Unlike physical goods, digital products and services are continually changing, with new competitors appearing daily. Spend too long debating on where to take your product next and you'll be left at the roadside. using <strong>lean</strong> project processes, we can define and build in short bursts so that you can get your product out to market as quickly as possible and start learning from it.</p>
            </div>

            <div class="column">
                <h3>Lean Design</h3>

                <p>Lean <abbr title="User Experience">UX</abbr>; or Lean Design, combines Agile project management and User Experience Design to quickly build something you can learn from. It's the best way to introduce <strong>iterative</strong> and <strong>collaborative</strong> design into your business. Using fast, lightweight methods such as <strong>Design Sprints</strong>, and well established design games to remove personal bias from decision making process, we'll show you how to create products truly designed for your customers.</p>
            </div>
        </div>
    </div>
</section>