/* B. Media Queries */

@media screen and (max-width: 480px) {
  .section-content {
    margin-top: 45px;
  }
  #nav ul li {
    padding: 0 5px;
  }
  #map {
    display: none;
  }
  textarea {
    height: 10em;
  }
}
@media (min-width: 768px) {
  /* PAGES */
  html, .contact {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  .ie-fix {
    max-height: 800px;
    .contact {
      max-height: 800px;
    }
  }
  #map {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .skill, .project {
    width: 33.33333333333333%;
  }
  .job-project {
    width: 50%;
  }
  #map {
    display: none;
  }
  .details-window {
    width: 100% !important;
  }
}
@media screen and (max-width: 640px) {
  .section-title {
    font-size: 2em;
    line-height: 1em;
  }
  .info .container {
    h1 {
      font-size: 2.300em;
    }
    h4 {
      font-size: 1.500em;
    }
  }
  #nav li {
    font-size: 0.875em;
    a span {
      display: none;
    }
  }
  .line {
    width: 200px;
  }
  #contact .section-title {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.97);
  }
  .job-company, .job-period {
    text-align: center;
  }
  .skill, .job-project, .project {
    float: left;
    width: 50%;
  }
  .text-right {
    text-align: left;
  }
}

@media screen and (min-width: 1051px) {}
@media screen and (max-width: 1870px) {}
@media screen and (max-width: 1600px), screen and (max-height: 700px) {}
@media screen and (max-width: 1600px) {}
@media screen and (max-width: 1565px) {}
@media screen and (max-width: 1275px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1100px) {}
@media screen and (max-width: 1050px) {
  .details-window {
    width: 100% !important;
  }
  #map {
    display: none;
  }
}
@media screen and (max-width: 740px) {}
@media screen and (max-width: 590px) {}
@media screen and (max-width: 510px) {}
@media screen and (max-width: 400px) {}
@media screen and (max-width: 590px), screen and (max-height: 450px) {}

@media only screen
and (min-device-width: 320px)
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  .wrapper .main .section .container {padding:0px}
  .wrapper header {
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: auto;
  }
  #nav {
    background: #2c3e50;
    border-bottom: none;
    border-top: 1px solid $dodger_blue;
    ul li a {
      position: relative;
      text-indent: -999em;
      padding: 0px;
      &:before {
        font-family: 'lkIcons';
        position: absolute;
        content: "\e005";
        text-indent: 0;
        left: 0;
        font-size: 40px;
        width: 100%;
        opacity: 0.8;
        font-weight: 100
      }
      &[href="#portfolio"]:before {
        content: "\e019";
        //@include fa-icon(facebook);
      }
      &[href="#contact"]:before {
        content: "\e086";
      }
      &[href="#intro"]:before {
        content: "\e069";
      }
    }
  }
  #intro .info .container {
    top: 0;
    padding: 15px;
    box-sizing: border-box;
    .row {
      display: table-cell;
      vertical-align: middle;
    }
    .avatar {
      height: 200px;
      width: 200px;
    }
  }
  #profile {
    .nav{display: block}
    .blurb {
      text-align: left !important;
      overflow: hidden;
      display: inline-block;
      font-size: 14px;
      p{
        font-size: 17px;
        line-height: 23px;
      }
      + div {
        float: left;
      }
    }
    .skill {
      width: 100%;
      margin-bottom: 5px;
      border-bottom: 3px solid #8f8f8f;
      position: relative;
      .chart {
        width: 100%;
        height: 30px;
        float: right;
        overflow: hidden;
        position: absolute;
        left: 0;
        z-index: 0;
        bottom: -3px;
        top: auto;
        .percent {
          line-height: 30px;
          font-size: 13px;
          float: right;
        }
        canvas {
          width: 69% !important;
          background: $dodger_blue;
          height: 3px !important;
          bottom: 0px;
          left: 0;
          top: auto;
          overflow: hidden;
          z-index: 100;
          border: none;
        }
        + h4 {
          line-height: 1;
          margin: 0;
          float: left;
          position: relative;
          + p {
            display: block;
            width: inherit;
            float: left;
            text-align: left;
            position: relative;
            margin: 0 !important;
          }
        }
      }
    }
    .row{
        position: relative;
        overflow: hidden;
        margin: 0;
        height: 100%;
        width:100%;
        // width: calc(100% * 3);
        // -moz-animation: carousel 30s infinite;
        // -webkit-animation:carousel 30s infinite;
        // animation:carousel 30s infinite;
    }
    div[class*='col-md'] {
        //width: calc(100% /3 );
        width: 89%;
        height: 100%;
        display: inline-table;
        float: left;
        padding: 0 25px !important;
    }

  }

  .nav-tabs {
      overflow-x: auto;
      overflow-y: hidden;
      white-space:nowrap;
      border-bottom:none;
      width: 100%;
      margin: 0;
      li {
        display:inline-block;
        float:none;
        padding: 0;
        margin: 0 -3px;
        text-align: center;
        a {
          border:none;
          padding:10px 15px;
          font-size:13px;
          border-bottom:solid 2px #eee;
          display: block;
          text-decoration: none;
          &:focus,
          &:hover {
            background-color:transparent;
            border-bottom:solid 2px #0088cc;
          }
        }
        &.active{
          a,
          &:focus,
          &:hover {
              border: none;
              background-color: transparent;
              border-bottom: solid 2px #0088cc;
            }
        }
      }
    }


    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
      border:none;
      background-color:transparent;
      border-bottom:solid 2px #0088cc;
    }

    .tab-pane {
      padding:20px 10px;
    }

  @keyframes carousel{
      0%    { left:0; }
      9%   { left:0; }
      12.5% { left:-100%; }
      23.5% { left:-100%; }
      25%   { left:-200%; }
      36%   { left:-200%; }
      75%   { left:-200%; }
      86%   { left:-200%; }
      87.5% { left:-100%; }
      98.5% { left:-100%; }
      100%  { left:0; }
  }

  #portfolio ul.projects > li {
    width:50%;
    height: calc(((100vw - 260px) / 3) + 100px);
    // height: calc(((100vw - 730px) / 3) + 100px);
    float: left;
    figure img {
      height: auto;
    }
  }
  #contact {
    .section-title {
      margin-top: 0;
      font-size: 100%;
    }
    .details-window {
      float: left;
      position: relative;
      min-width: auto;
      padding: 0;
      input[type="text"] {
        padding-top: 10px;
      }
      textarea {
        padding-top: 10px;
        height: 5em;
      }
      .form li.options > span label {
        margin: 0 10px 0 0;
        font-size: 16px;
      }
      .social-links {
        &.clearfix {
          bottom: 0;
        }
        a [class*="icon"] {
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 18px;
          background: transparent;
        }
      }
      .footer-copy {
        white-space: nowrap;
        float: left;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
